.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  //max-width: calc(100% - 30% - 100px);
  //width: calc(100% - 30% - 100px - 50px);
  //background-color: var(--bg-content-color);
  //margin: 0 50px 50px 0;
  opacity: 0.9;
  //box-shadow: var(--box-shadow);
  flex-wrap: wrap;
  margin-right: 50px;
}

.ibc__item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 20%;
  height: 200px;
  min-width: 350px;

  border: var(--border);
  margin: 0 10px 75px 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-content-color);
  flex-wrap: wrap;
  padding: 20px;

  &>a>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    * {
      &:first-child {
        margin-bottom: 10px;
      }
    }

    //a {
    //  font-size: var(--font-size-m) !important;
    //}
  }

  //&:nth-child(3n) {
  //  margin-right: 0;
  //  margin-bottom: 25px;
  //}
  //
  &>* {
    &:nth-child(2) {
      font-size: 24px;
      color: var(--primary-color);
    }
  }
}

@media (max-width: 1200px) {
  .container {
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }
}