.list__container {
  position: sticky;
  top: 120px;
  display: flex;
  width: 30%;
  min-width: 30%;
  margin: 0 50px 50px 50px;
  flex-direction: column;
  //background-color: var(--bg-content-color);
  //border: 1px solid var(--secondary-color);

  //opacity: 90%;

  //box-shadow: var(--box-shadow);

  @media (max-width: 1200px) {
    position: relative;
    top: 0;
    width: 90%;
  }
}

.list {
  display: flex;
  width: 100%;
  min-width: 100%;
  flex-direction: column;
  background-color: var(--bg-content-color);
  border: 1px solid var(--secondary-color);

  opacity: 90%;

  box-shadow: var(--box-shadow);

  @media (max-width: 1200px) {
    position: inherit;
    top: 0;
    width: 90%;
  }
}

.additional__navigation {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: -25px;
  gap: 10px;
  width: 100%;

  a {
    text-decoration: underline;
  }
  span {
    text-decoration: none;
    color: var(--primary-color);
  }
}

//.services__container {
//  overflow: hidden;
//  transition: max-height 0.3s ease-out;
//  max-height: 0;
//}
//
//.list.expanded .services__container {
//  max-height: 500px;
//}

.link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  height: 50px;
  min-height: 50px;

  cursor: pointer;
  border-bottom: 1px solid var(--secondary-color);

  &:hover {
    color: var(--primary-color)
  }
  &:last-child {
    border-bottom: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    height: 50px;
    font-size: 25px;
  }
}

.sub__link {
  height: 2rem;
  line-height: 2rem;
  padding-left: 1rem;
  border-bottom: var(--border);
  list-style: none;
}

.active {
  color: var(--primary-color);
}

.mobile__list {
  @extend .list;

  display: none;
}

@media (max-width: 1200px) {
    .list {
      display: none;
    };

   .mobile__list {
     display: flex;
   }
}

