.choose {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;

  opacity: 90%;



  div {
    width: 100%;
    padding: 3px 10px;
    cursor: default;
    color: var(--primary-color);
    background-color: var(--bg-content-color);
    border: 1px solid var(--secondary-color);
    text-align: center;

    box-shadow: var(--box-shadow);
  }

  button {
    width: 100px;
    padding: 3px 10px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--bg-content-color);
    border: 1px solid var(--secondary-color);

    box-shadow: var(--box-shadow);

    &:hover {
      color: var(--primary-color) !important;
    }
  }
}

.only {

}
