.calculator {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: space-between;

  min-width: 300px;
  min-height: 200px;
  //height: 40%;
  //width: calc(100% - 30px);
  border: var(--border);
  padding: 20px;

  width: 100%;

  //margin-right: 30px;

  background-color: var(--bg-content-color);
  box-shadow: var(--box-shadow);
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: var(--primary-color);
    cursor: grab;
  }
}

.rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-top: 15px !important;

  * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0;
  }

  &:last-child {
    margin: 0;
  }

  .daily, .monthly, .yearly {
    * {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.header__loading__container {
  margin: 0 10px;
}