.content__item {
  border: var(--border);
  border-bottom: none;
  overflow-x: auto;

  opacity: 90%;

  &:last-child {
    border-bottom: var(--border);
  }

  h2 {
    display: inline-flex;
  }
}

.title__wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px;
}

.pre {
  border-top: var(--border);
}

.code__wrapper {
  padding: 20px !important;

  //&::-webkit-scrollbar {
  //  width: 5px !important;
  //  background-color: var(--primary-color) !important;
  //}
  //
  //&::-webkit-scrollbar-track {
  //  background-color: var(--bg-color) !important;
  //  border-top: 1px solid var(--secondary-color) !important;
  //}
  //
  //&::-webkit-scrollbar-thumb {
  //  background-color: var(--bg-content-color) !important;
  //  border-top: 1px solid var(--secondary-color) !important;
  //}
}

//.left::-webkit-scrollbar-thumb {
//  border-right: 1px solid var(--secondary-color);
//}
//
//.middle::-webkit-scrollbar-thumb {
//  border-right: 1px solid var(--secondary-color);
//  border-left: 1px solid var(--secondary-color);
//}
//
//.right::-webkit-scrollbar-thumb {
//  border-left: 1px solid var(--secondary-color);
//}

.title__wrapper {


  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copy__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //width: 30px !important;
  //height: 30px !important;

  margin: 20px 20px 20px 0;


  padding: 5px;
  font-size: 20px;

  color: var(--primary-color);
  border: var(--border);
  background-color: inherit;

  cursor: pointer;

  * {
    height: 25px;
    width: 25px;
  }
}