.content__item {
  border-bottom: 1px solid var(--secondary-color);
  overflow-x: auto;

  opacity: 90%;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary-color);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    border-top: 1px solid var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-content-color);
    border-top: 1px solid var(--secondary-color);
  }

  &:last-child {
    border-bottom: none;
  }
}

.left::-webkit-scrollbar-thumb {
  border-right: 1px solid var(--secondary-color);
}

.middle::-webkit-scrollbar-thumb {
  border-right: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.right::-webkit-scrollbar-thumb {
  border-left: 1px solid var(--secondary-color);
}

.title {
  margin: 20px;
}

//pre {
//  background: none !important;
//}

.code__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 0 20px 20px;
  font-size: 16px;
  white-space: nowrap;

  p {
    color: var(--secondary-color);
    background: none;
  }
}

