.container {
  width: calc(100% - 30% - 100px - 50px);
  max-width: calc(100% - 30% - 100px);
  min-height: calc(100vh - 70px - 70px - 140px - 50px);
  background-color: var(--bg-content-color);
  border: 1px solid var(--secondary-color);
  margin: 0 50px 50px 0;
}