%container {
  max-width: calc(100% - 30% - 100px);
  width: calc(100% - 30% - 100px - 50px);
  background-color: var(--bg-content-color);
  margin: 0 50px 50px 0;
  opacity: 0.9;
}

.overview__container {
  @extend %container;

  display: flex;
  flex-direction: row;
  background-color: inherit;
  border: none;
}

.left__side__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  height: calc(100vh - 70px - 70px - 140px - 50px);
  width: 50%;
}