.rpc__status {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;

  opacity: 90%;

  border: var(--border);
  box-shadow: var(--box-shadow);

  padding: 3px 10px;
  cursor: default;
  color: var(--primary-color);
  background-color: var(--bg-content-color);
  border: 1px solid var(--secondary-color);
  text-align: center;

  //@media (max-width: 1400px) {
  //  margin-top: 50px;
  //}
}

.not__available {
  color: #a61a1a;
  margin-left: 5px;
  font-weight: bold;
  text-shadow: 0 0 20px #a61a1a;
}

.loading {
  color: var(--primary-color);
  margin-left: 5px;
  font-weight: bold;
  text-shadow: 0 0 20px var(--primary-color);
}

.active {
  color: #167953;
  margin-left: 5px;
  font-weight: bold;
  text-shadow: 0 0 20px #167953;
}